.SideDrawer {
    position: fixed;
    z-index: 200;
    width: 70%;
    height: 100vh;
    background-color: #fff;
    transition: transform 0.4s ease-out;
}

.LogoContainer {
    background-color: #8F5c2C;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.Logo {
    height: 60px;
    width: 80px;
    margin: auto;
}

.Open {
    transform: translateX(0);
}

.Close {
    transform: translateX(-100vw);
}